### list

In [1]:
sample=[1,"hello",3.64,True]
sample

[1, 'hello', 3.64, True]

In [3]:
sample[2],type(sample)

(3.64, list)

In [5]:
sample[-2]

3.64

In [6]:
sample[0]=100 #list are mutable 
sample #elements are seperated by comma and it is hetrogenous

[100, 'hello', 3.64, True]

### tuple

In [7]:
sampletup=(1,2,"hii",3.6)
type(sampletup)

tuple

In [8]:
sam=3,5.5,"hello"
type(sam)

tuple

In [10]:
sam1=(2)
sam2=(4,) #tuple must contain alteast 2 if not then put comma after the 1st element
type(sam1),type(sam2)

(int, tuple)

In [13]:
sampletup[3],sampletup[2] #can retrive data using index

(3.6, 'hii')

In [15]:
#sampletup[0]=100 #tuple are immutable

### sets

In [23]:
sampleset={1,12,127,3.8,"hello",True,"hii",134,"garima",1,"hii"} #it returns unique values only
sampleset #sort accoring to the first position of number only

{1, 3.8, 'hello', 134, 'garima', 12, 'hii', 127}

In [24]:
#sampleset[3] #doesnot support indexing

In [25]:
#sampleset[2]="parmar" #using index we cannot retrive elements
#sampleset

In [30]:
sampleset.add(10) #we have to use add to add element
sampleset #set is mutable

{1, 3.8, 'hello', 134, 'garima', 10, 12, 'hii', 127}

### dictionary

In [41]:
dict={"key":"value",1:70,"dict":"dictionary",3.6:"hello"} #key sholud be unique
dict,dict[1]

({'key': 'value', 1: 70, 'dict': 'dictionary', 3.6: 'hello'}, 70)

In [43]:
dict2={1:"apple",2:"mango",3:"banana",4:"grapes"}
dict2

{1: 'apple', 2: 'mango', 3: 'banana', 4: 'grapes'}

In [45]:
dict2[2] #value should be retrived using key

'mango'

In [47]:
#dict2["mango"] #key nannot be retrives using the value

In [48]:
dict2[3]=100 #key of 3 -> value should be overwrite
dict2 #dict is mutable

{1: 'apple', 2: 'mango', 3: 100, 4: 'grapes'}